.inputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputWrapper input {
  margin-right: 10px;
  cursor: pointer;
}

.inputWrapper input:checked + label {
  color: #ff7c72;
}

@media screen and (max-width: 768px) {
  .inputWrapper {
    margin: 2vw 0;
    font-size: 3.8vw;
  }

  .inputWrapper input {
    margin-right: 4vw;
  }
}
