.chart {
  width: 550px;
  height: auto;
  margin: auto;
  margin-bottom: 70px;
}

.chartBox {
  width: 100%;
  min-height: 300px;
}

.inputBox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  font-size: 14px;
}

.msg {
  margin: 30px 0 5px;
  font-size: 20px;
}

.voteButton {
  letter-spacing: 2px;
  background-color: #1a8659;
  width: 100px;
  padding: 5px;
  font-size: 24px;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
}

.voteButton:disabled {
  background-color: #6a6a6a;
  color: #b9b9b9;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .chart {
    width: 100%;
    margin-bottom: 15vw;
  }

  .chartBox {
    min-height: 35vh;
  }

  .inputBox {
    margin-bottom: 3vw;
    font-size: 4vw;
  }

  .msg {
    margin: 10vw 0 2vw;
    font-size: 5vw;
  }

  .voteButton {
    letter-spacing: 1vw;
    width: 30vw;
    padding: 2.2vw;
    font-size: 6vw;
    margin: 5vw auto;
    display: block;
  }
}
