.box {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.box .desc {
  width: 50%;
  margin: 0 10px;
}

.box .title {
  margin-bottom: 10px;
}

.box .txt {
  font-size: 12px;
  text-align: left;
  line-height: 1.8;
}

.box .image {
  overflow: hidden;
  width: 50%;
  max-height: 300px;
  margin: 0 10px;
  border: 1px solid #000;
}

.box img {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .box {
    width: 100%;
    padding: 5vw 0;
    display: block;
  }

  .box .desc {
    width: 100%;
    margin: 0;
  }

  .box .title {
    margin-bottom: 2vw;
    font-size: 4.5vw;
  }

  .box .txt {
    font-size: 3.4vw;
  }

  .box .image {
    width: 100%;
    max-height: none;
    margin: 0;
    margin-bottom: 6vw;
  }

  .box img {
    height: auto;
    width: 100%;
  }
}
