.headerTitle {
  position: absolute;
  top: 40%;
  left: 10%;
}

.mainTitle {
  font-size: 50px;
  letter-spacing: 3px;
  line-height: 1.3;
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px #4c2593;
}

.subTitle {
  font-size: 12px;
}
