.headerTitle {
  position: absolute;
  top: 40%;
  left: 10%;
}

.mainTitle {
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.txtBox {
  display: block;
  line-height: 1;
  margin-bottom: 7px;
  position: relative;
  height: 50px;
  overflow: hidden;
}

.txt {
  display: block;
  transform: translateY(50px);
  animation-name: slide;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

.txtBox:nth-child(2) .txt {
  animation-delay: 1.3s;
}

@keyframes slide {
  to {
    transform: translateY(0);
  }
}

.home {
  text-shadow: 2px 2px 3px #4c2593;
}

.about {
  text-shadow: 2px 2px 3px #032939;
}

.learn {
  text-shadow: 2px 2px 3px #005200;
}

.gallery {
  text-shadow: 2px 2px 3px #003d85;
}

.subTitle {
  font-size: 20px;
  opacity: 0;
  animation-name: fade;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .mainTitle {
    font-size: 9.4vw;
    letter-spacing: 0.5vw;
    margin-bottom: 6vw;
  }

  .txtBox {
    margin-bottom: 3vw;
    height: 9.4vw;
  }

  .txt {
    transform: translateY(9.4vw);
  }

  .subTitle {
    font-size: 4vw;
    width: 85%;
  }
}
