.navigationItem a {
  display: block;
  color: #fff;
  margin: 0 15px;
  transition: all 0.2s ease;
}

.navigationItem a:hover {
  transform: translateY(3px);
  transition: all 0.2s ease;
}

:global .active {
  color: #737373 !important;
}

@media screen and (max-width: 768px) {
  .navigationItem a {
    margin: 2vw;
    font-size: 3.4vw;
  }

  .navigationItem a:hover {
    transform: translateY(0);
  }
}
