.apiImages {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.apiImages li {
  width: 275px;
  margin: 15px 0;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.55);
}

.apiImages li a {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .apiImages {
    display: block;
  }

  .apiImages li {
    width: 90%;
    margin: auto;
    margin-bottom: 7vw;
  }
}
