.button {
  width: 200px;
  border: 1px solid;
  text-align: center;
  padding: 10px;
  letter-spacing: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
}

.button a {
  color: #fff;
}

.returnHome {
  background-color: #000;
  border-radius: 5px;
  font-size: 13px;
}
