.contact {
  margin-top: 100px;
  color: #000;
}

.contactForm {
  width: 800px;
  margin: auto;
  padding: 35px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .contact {
    margin-top: 20vw;
  }

  .contactForm {
    width: 95%;
    padding: 5vw;
  }
}
