.outline {
  margin-bottom: 70px;
}

.aboutImg {
  position: absolute;
  right: 0;
  top: 50px;
  width: 435px;
  opacity: 0.4;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .outline {
    margin-bottom: 10vw;
  }

  .aboutImg {
    top: 12%;
    width: 75%;
  }
}
