.planetButton {
  margin: 0 10px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.planetButtonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

.planetButtonIcon img {
  width: 90px;
  height: auto;
}

.planetName {
  display: block;
  font-size: 11px;
  text-align: center;
  margin: 10px 0;
}

.planetButton:hover .planetButtonIcon,
.planetButton.active .planetButtonIcon {
  box-shadow: 0 0 3px #fff;
  transition: all ease 0.3s;
}

.planetButton:hover .planetName,
.planetButton.active .planetName {
  color: #ffdc6e;
  transition: all ease 0.3s;
}

@media screen and (max-width: 768px) {
  .planetButton {
    margin: 0 10px;
  }

  .planetButtonIcon {
    width: 20vw;
    height: 20vw;
  }

  .planetButtonIcon img {
    width: 16vw;
  }

  .planetName {
    font-size: 3.3vw;
    margin: 1.5vw 0 3vw;
  }
}
