.title {
  color: black;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
}

.text {
  color: #545454;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .title {
    margin-bottom: 2vw;
    font-size: 7vw;
    letter-spacing: 0.7vw;
  }

  .text {
    font-size: 3.6vw;
    margin-bottom: 2vw;
  }
}
