.articleBox {
  width: 280px;
  padding: 20px;
  margin-bottom: 70px;
  border-radius: 5px;
  transition: all ease 0.3s;
}

.articleBox a {
  color: #fff;
}

.articleBox.isHome:hover {
  background-color: #d3e0df;
}

.articleBox.isHome a {
  color: #000;
}

.articleImg {
  overflow: hidden;
  width: 245px;
  height: 135px;
}

.articleTitle {
  margin-top: 10px;
}

.articleBody {
  min-height: 100px;
  font-size: 12px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.categoryLabel {
  width: 80px;
  text-align: center;
  background-color: #000;
  font-size: 14px;
  padding: 2px;
  border-radius: 3px;
  color: #fff;
}

.categoryLabel01 {
  background-color: #ffa34d;
}

.categoryLabel02 {
  background-color: #1eb2a6;
}

.categoryLabel03 {
  background-color: #ad62aa;
}

.articleBox:hover {
  box-shadow: 0 0 20px #979797;
  transition: all ease 0.3s;
}
