@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/**********************************
 *
 * COMMON
 *
 **********************************/
* {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  vertical-align: bottom;
}

a:link {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(49, 163, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(49, 163, 255);
}

/*enter*/
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease;
  transition-delay: 0.3s;
}

/*exit*/
.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.fade-exit-done {
  opacity: 0;
}

/**********************************
 *
 * body
 *
 **********************************/
body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #011d33;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: 1.3px;
  text-align: left;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 768px) {
  /**********************************
 *
 * body
 *
 **********************************/
  body {
    font-size: 4vw;
    line-height: 1.46;
    letter-spacing: 1.2px;
  }

  .App {
    font-size: 4vw;
  }
}
